body {
	background: linear-gradient(to bottom, #a8fc9d, #91f38e, #80ed84, #65e375, #25884A );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to bottom, rgba(255,255,255,0.2), #a8fc9d 75%);
}
